
a:hover {
 text-decoration:none;
 }
#logo {
float: left;
display: block;
padding: 8px 20px 12px;
margin-left: -20px;
font-size: 20px;
font-weight: 200;
line-height: 1;
color: white;
}
body {
padding-top:80px;
}
 .navbar-inner{
     background:rgba(15,79,138,0.85);
     padding-top:20px;
     margin-bottom:10px;
     }
.navbar {
    margin-bottom:10px;
    }
.row-fluid {
    width:85%
    }
.well {
    border:none;
    background:none;
    box-shadow:none;
    background-repeat:no-repeat;
    }
.navbar-inner .container-fluid {
    padding-left:240px;
    }
.navbar .nav > li > a {
    color:white;
    }
.navbar .nav > li > a:hover {
    background-color:white;
    color:rgba(15,79,138,0.85);
    }