
a:hover {
 text-decoration:none;
 }
#logo {
float: left;
display: block;
padding: 8px 20px 12px;
margin-left: -20px;
font-size: 20px;
font-weight: 200;
line-height: 1;
color: white;
}

.navbar-inner{
    margin-top:0;
    padding-top:0;
    background-color:rgba(15,79,138,0.85);
    background-image:none;
    }
.nav-collapse.in {
    height:auto !important;
    }
.navbar .nav > li > a {
    padding-top:25px;
    }
.navbar .nav > li > a {
    color:white;
    }
.navbar .nav > li > a:hover {
    background-color:white;
    color:rgba(15,79,138,0.85);
    }
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color:white;
    color:rgba(15,79,138,0.85);
}
